.title {
  cursor: text;
  margin-bottom: 0;
}

.todo-item:hover {
  background-color: beige;
}

.todo-title {
  text-align: left;
  width: 100%;
  font-weight: 600;
  padding-right: 10px;
}

.btn-rounded {
  border-radius: 50%;
}

.red {
  color: red !important;
}
