.after-loop {
  padding: 3rem 0 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.after-loop a.after-loop-item {
  color: #fff;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: 0.15s box-shadow ease, 0.15s transform ease;
  -moz-transition: 0.15s box-shadow ease, 0.15s transform ease;
}

.after-loop a.after-loop-item .card-body svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  left: 1rem;
  color: rgba(255, 255, 255, 0.2);
  transition: 0.15s all ease;
}

.after-loop .card-templates {
  background-color: #2092ed;
}

.after-loop .card-snippets {
  background-color: #ffc107;
}

.after-loop .card-guides {
  background-color: #28a745;
}

.shadow-lg {
  box-shadow: 0 2rem 1.5rem -1.5rem rgba(33, 37, 41, 0.15),
    0 0 1.5rem 0.5rem rgba(33, 37, 41, 0.05) !important;
}

header.masthead {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#c31432),
    to(#240b36)
  );
  background: linear-gradient(0deg, #c31432 0, #240b36 100%);
}

header.masthead .bg-circle {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#240b36),
    to(#c31432)
  );
  background: linear-gradient(0deg, #240b36 0, #c31432 100%);
}

@media (min-width: 992px) {
  .after-loop a.after-loop-item:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33, 37, 41, 0.3),
      0 0 1.5rem 0.5rem rgba(33, 37, 41, 0.05) !important;
  }

  .after-loop a.after-loop-item:hover .card-body svg {
    left: 1.5rem;
    font-size: 3rem;
  }
}

.after-loop a.after-loop-item:hover {
  text-decoration: none;
}
