button[type='button'],
button[type='button'],
button[type='reset'],
input[type='button'],
input[type='submit'],
input[type='reset'] {
  font-weight: 600;
}

body {
  font-family: Lato;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Catamaran;
  font-weight: 800 !important;
}
