.custom-card-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}