header.masthead {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ff6a00),
    to(#ee0979)
  );
  background: linear-gradient(0deg, #ff6a00 0, #ee0979 100%);
}

header.masthead .bg-circle {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ee0979),
    to(#ff6a00)
  );
  background: linear-gradient(0deg, #ee0979 0, #ff6a00 100%);
}
